body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 4rem;
}

/* Header */
header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  background: #d7c79e;
  height: 3rem;
  border-bottom: 2px solid #cccccc;
  z-index: 1;
}

.header-item {
  flex-basis: 33%;
  margin: 0 1rem;
  width: 100%;
}

#header-logo {
  background: black;
  color: white;
  font-size: 1.35rem;
  font-weight: 800;
  padding: 0.3rem 1rem;
  width: 6rem;
}

.header-item .header-search {
  width: 100%;
  height: 2.35rem;
}

input[type="search"] {
  padding: 0 0.3rem;
}

input[type="search"]::placeholder {
  margin: 0 0.3rem;
  font-size: 1rem;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#nav-links img {
  margin-left: 2rem;
}

/* Menu Button */

.dropdown-content {
  display: none;
  position: absolute;
  right: 2rem;
  background-color: #d7c79e;
  min-width: 15rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.3rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content div {
  margin: 0 1rem;
  border-bottom: 3px solid #4d4b4b;
}

.dropdown-content h3 {
  margin-bottom: 0.5rem;
}

.dropdown-content a:hover {
  background: #f1eded;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* Buttons */
.btn {
  text-align: center;
  text-decoration: none;
  border: black solid 0.1rem;
  background: #9dab86;
  color: black;
  padding: 0.2rem;
  height: 1.5rem;
}

.medium {
  width: 8rem;
}

.large {
  width: 15rem;
  height: 2.2rem;
  background: #cfd7ff;
  border: none;
  line-height: 2.2rem;
  border-radius: 0.3rem;
}

.edit {
  width: 5rem;
  border-radius: 1.25rem;
  border: none;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  height: 1.25rem;
  line-height: 1.1rem;
}

.delete {
  width: 6rem;
  border-radius: 1.25rem;
  border: none;
  margin: 0 0.5rem;
  background: black;
  color: whitesmoke !important;
  font-size: 0.8rem;
  font-weight: 500;
  height: 1.25rem;
  line-height: 1.1rem;
}

.round {
  font-family: "HelveticaNeue-CondensedBold",
    "HelveticaNeueBoldCondensed",
    "HelveticaNeue-Bold-Condensed",
    "Helvetica Neue Bold Condensed",
    "HelveticaNeueBold",
    "HelveticaNeue-Bold",
    "Helvetica Neue Bold",
    "HelveticaNeue",
    "Helvetica Neue",
    "TeXGyreHerosCnBold",
    "Helvetica",
    "Tahoma",
    "Geneva",
    "Arial Narrow",
    "Arial", sans-serif;
  font-weight: 550;
  width: 12rem;
  border-radius: 1.7rem;
  background: none;
  color: #1b4bcb;
  border: #1b4bcb solid 0.15rem;
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

.publish {
  width: 8rem;
  border-radius: 1.7rem;
  background: #1b4bcb;
  color: white;
  border: none;
}

.occupy {
  display: block;
  width: 100%;
  border-radius: 0.3rem;
  background: #af4343;
  padding: 0.6rem 0;
  color: white;
  border: none;
}

/* Avatars */
.avatar {
  border-radius: 50%;
}

.small-av {
  width: 2.5rem;
  height: 2.5rem;
}

.medium-av {
  width: 3.5rem;
  height: 3.5rem;
}

/* Anchor tags */
.normalized {
  text-decoration: none;
  color: black;
}

/* icons */

.icon {
  font-size: 2rem;
  margin-right: 1.1rem;
  color: black;
}

/* Section body */
#s1-body {
  background: #f8f8f8;
}

@media (max-width: 1270px) {

  .container {
    padding: 0 1.5rem;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 1rem;
  }
}

@media (max-width: 1150px) {
  .container {
    padding: 0 0.8rem;
  }
}

@media (max-width: 1120px) {
  .container {
    padding-left: 0.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.3rem;
  }
}

@media (max-width: 576px) {

  .h-article {
    display: none;
  }

  .dropdown-content {
    right: 0;
    width: 100%;
  }

}